/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header{
    max-width: 1920px;
    height: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header1{
    font-size: 36px;
    margin-left:20px;
    margin-right: 20px;
}

.header1 a{
    text-decoration: none;
    color:black;
}

.header1 a:hover{
    color:blue;
}

.imgsandframe{
    max-width: 1920px;
    height:640px;
    border-bottom: 1px solid #6C757D;
    border-top: 1px solid #6C757D;
    display:flex;
}

.imgsandframe img{
    width:50%
}

.roughdescriptive{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.roughdescriptive p{
    font-size: 18px;
    color:black;
    margin-bottom: 5px;
    margin-left: 24px;
}

.textlink{
    font-size: 24px;
    color:blue;
    margin-left: 24px;
    margin-bottom: 15px;
}

.textlink a{
    font-family:monospace;
    margin-right: 10px;
    text-decoration: none;
}

.special{
    background-color: blue;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 30px;
    color:white;
}

.special:hover{
    background-color:mediumblue;
    color:gold;
}

.roughdescriptive h2{
    font-size: 30px;
    font-weight: bold;
    color:black;
    margin-bottom: 5px;
    margin-left: 24px;
}

.article{
    max-width: 1920px;
    height: 4126px;
}

.content{
    width:50%;
    margin:80px auto;
    aspect-ratio: 1.618/1;
}

.content h2{
    font-size: 30px;
    font-weight: bold;
    color:blue;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content img{
    width:100%;
    margin: 10px auto;
}

.content p{
    font-size: 18px;
    color:black;
    margin-bottom: 5px;
    line-height: 1.5;
}

.content ul,
.content ol {
    list-style: disc; /* 或 decimal（數字） */
    padding-left: 40px; /* 加這個讓列點縮排正常顯示 */
    font-size: 18px;
    line-height: 1.5;
    margin-top:10px;
    margin-bottom: 10px; 
}

.content h3{
    font-size: 18px;
    font-weight: bold;
    color:black;
    margin-bottom: 15px;
    margin-top: 15px;
}

.content .conclusion{
    padding:30px;
    background-color:ghostwhite;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin: 30px auto;
}

.content ul li a{
    font-size: 18px;
    margin-bottom:10px;
    line-height: 1.5;
    text-decoration: none;
}

.pages{
    font-size: 24px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 30px;
}

.pages a{
    padding:15px;
    border:2px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.connectioninfo{
    max-width: 1920px;
    height:208px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
}

.connectioninfo p{
    font-size: 20px;
    color:black;
    margin-bottom: 5px;
    line-height: 1.5;

}

.footer{
    max-width: 1920px;
    text-align: center;
    font-size: 18px;
    padding:27px 0;
}

@media (max-width:875px){
    .imgsandframe{
    height:auto;
    border-bottom: 1px solid #6C757D;
    display:flex;
    flex-direction: column;
}
    .imgsandframe img{
    width:100%;
    max-width: 100%;
}
    .roughdescriptive{
    width: 100%;
    max-width: 100%;
    height:400px;
}
    .article{
        height:auto;
    }

    .content{
    width:100%;
    margin:80px auto;
    aspect-ratio: 1.618/1;
}
}
